<div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-img">
            <img src="https://miro.medium.com/fit/c/262/262/2*RNc3-QOEIAC_clkE00RHZQ.jpeg">
        </div>
      </div>
      <div class="col-sm-8">
        <h2>Our Aim To Create this Website</h2><br>
        <h4><strong>MISSION:</strong> My Aim to ceate this website is that I can extend business of my father.I can reach customer online as well as customer who are not local residency of my area.</h4><br>
        <p><strong>VISION:</strong> I am Mehul Kothari creator of this website .My main vision to create this website is that I can do freelancing by showing this demo project to all my father's contacts who are in same buisness feild .
      I am adding pricng category below this page to look at the pricing for websites which are having simiar features.you can contact me in Contact us section. </p>
      </div>
    </div>
  </div>

  <app-get-quote></app-get-quote>
  <div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim slide">
      <div class="col-sm-4">
        <span class="fa fa-shopping-cart logo-small"></span>
        <h4>Products </h4>
        <p>Have all sorts of kicthen applicances</p>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-wrench logo-small"></span>
        <h4>Accessories</h4>
        <p>Provide all Accessories of product we sell</p>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-home logo-small"></span>
        <h4>Door Services</h4>
        <p>Prvovide Service at your door step.</p>
      </div>
    </div>
    <br><br>
    <div class="row slideanim slide">
      <div class="col-sm-4">
        <span class="fa fa-scroll logo-small"></span>
        <h4>Genuine Billing </h4>
        <p>Provide all Bills and warranty cards</p>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-certificate logo-small"></span>
        <h4>Certified Products</h4>
        <p>Provide all ISI certified Items</p>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-cogs logo-small"></span>
        <h4 style="color:#303030;">Reparing and Services</h4>
        <p>All kind of reparing such as cooker mixi iron gas services are done</p>
      </div>
    </div>
  </div>

  <div id="pricing" class="container-fluid bg-grey">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim slide">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body">
            <p><strong>4</strong> Pages</p>
            <p><strong>3</strong> Features/Filter</p>
            <p><strong>3</strong> Categories</p>
            <p><strong>Maintainance</strong> No</p>
          </div>
          <div class="panel-footer">
            <h3>₹ 3500</h3>
            <h4>per Website</h4>
            <button class="btn btn-lg" routerLink = "/contact-us">Contact Here</button>
          </div>
        </div>      
      </div>     
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Pro</h1>
          </div>
          <div class="panel-body">
            <p><strong>7</strong> Pages</p>
            <p><strong>5</strong> Features/Filter</p>
            <p><strong>5</strong> Categories</p>
            <p><strong>Maintainance</strong> No</p>
          </div>
          <div class="panel-footer">
            <h3>₹ 5500</h3>
            <h4>per Website</h4>
            <button class="btn btn-lg" routerLink = "/contact-us">Contact Here</button>
          </div>
        </div>      
      </div>       
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body">
            <p><strong>10</strong> Pages</p>
            <p><strong>5</strong> Features/Filter</p>
            <p><strong>8</strong> Categories</p>
            <p><strong>Maintainance</strong> No</p>
          </div>
          <div class="panel-footer">
            <h3>₹ 10500</h3>
            <h4>per Website</h4>
            <button class="btn btn-lg" routerLink = "/contact-us">Contact Here</button>
          </div>
        </div>      
      </div>    
      </div>    
    </div>
