<div class="header header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3">
                <div class="logo">
                    <a href="">
                        <h2 style="color:#fff">Pawan Steels</h2>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                <ul class="header-right f-right   d-flex justify-content-between">
                    <li class="">
                        <div class="form-box f-right ">
                            <input type="text" name="Search" placeholder="Search products">
                            <div class="search-icon">
                                <i class="fas fa-search special-tag"></i>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-5">
                <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="/about">About</a></li>
                            <li><a href="/about">Contact</a></li>
                            <li><a href="/about">Buisness with us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>