 .main-menu ul li {
     display: inline-block;
     position: relative;
     z-index: 1;
 }
 input:focus{
    outline: -webkit-focus-ring-color auto 0px;

 }
 .main-menu ul {
     list-style: none;
 }
 
 .f-right {
     float: right;
 }
 
 .main-menu ul {
     padding-bottom: 0;
     margin-bottom: 0;
 }
 
 .main-menu ul li a {
     font-size: 18px;
     font-weight: bold;
     color: #fff;
     display: inline-block;
     text-transform: capitalize;
     padding: 25px 22px;
     display: block;
     -webkit-transition: all .3s ease-out 0s;
     -moz-transition: all .3s ease-out 0s;
     -ms-transition: all .3s ease-out 0s;
     -o-transition: all .3s ease-out 0s;
     transition: all .3s ease-out 0s;
 }
 
 .main-menu ul li a {
     padding: 25px 13px;
 }
 
 .header-right {
     display: flex!important;
 }
 
 .header-right {
     list-style: none;
     float: none !important;
     margin-top: 20px;
 }
 
 .header-right li {
     padding-left: 14px;
 }
 
 .header-right li:nth-child(1) {
     width: 100%;
 }
 
 .header-right .form-box {
     position: relative;
     width: 85%;
 }
 
 .header-right .form-box input {
     border: 1px solid #eee;
     border-radius: 10px;
     padding: 10px 20px;
     width: 100%;
 }
 
 .header-right .form-box .search-icon {
     position: absolute;
     top: 12px;
     right: 17px;
 }
 
 .header-right .form-box .search-icon i {
     color: #6c6a6a;
     cursor: pointer;
 }
 
 #navigation .btn {
     border-radius: 25px;
     padding-top: 10px;
     padding-bottom: 10px
 }
 
 .header.header-sticky {
     background-color: #243e77;
 }

 .headerMenu.open{
  
    display: none;
  }
 
 @media screen and (max-width:551px) {
     .fix-card .header-right {
         float: left !important;
         padding-left: 0;
         width: 100%;
         margin-top: 10px;
     }
     .logo {
        padding-top: 7px;
    }
     .fix-card .header-right>li {
         display: block;
         padding: 0;
     }
     .fix-card .header-right>li .form-box {
         float: left !important;
         width: 100%;
     }
     .fix-card .header-right>li .form-box input {
         border-radius: 14px;
         padding: 8px 20px;
     }
 }


 .dropdown {
   
    width: 72%;
    /* background: #fff; */
    position: absolute;
    top: 66px;
    left: 25%;
    z-index: 5;
    border-radius: 8px;
    
    border: none;
   
}
 option{
    padding: 8px;
    border: 1px solid #efefef;
    background: #fff;
    border-radius: 8px;
    font-weight: 500;

 }
 .dropdown-option:hover{
     cursor: pointer;
     background-color: gainsboro;
 }

@media screen and (max-width:551px){
    .dropdown {
        top: 63px;
        z-index: 5;
       left:auto;
        border-radius: 5px;
        width: 92%;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .open .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .open .bar2 {opacity: 0;}
      
      .open .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
      .mobile-only-icon{
        position: absolute;
        top: 10px;
        right: 23px;
        z-index: 5;
      }
      .headerMenu.open{
        height: 100vh;
        display: block;
      }
      .headerMenu.open::before{
        content: '';
        position: absolute;
        top: 120px;
        bottom: 0;
        background: #e2e2e2;
        transform-origin: 0 0;
        z-index: 1;
        left: 0;
        right: -28px;
        -webkit-transition: all .275s .1s;
        transition: all .275s .1s;
        -webkit-transform: skew(-14deg) translateX(0);
        transform: skew(-23deg) translateX(0);
}

ul#navigation {
 display: block;
 z-index: 55;
 position: relative;
 list-style: none;
 margin-top: 20px;
 padding-left: 0;
}

.Menu-heading {
 position: relative;
 z-index: 5;
}

.Menus {
 position: relative;

 display: block;
}
ul#navigation li{
 padding-left:30px;


}
ul#navigation li a{
 padding:10px 0;
 display:block;
 color:#525456;
 font-weight:bold;
 font-size:18px;

}
.Menu-heading{
 font-weight:bold;
 font-size:25px;
 text-align:center;
 margin-top:10px
}
}

.logo a:hover{
    text-decoration: none;
}
.logo:focus{
    color:#fff
}