<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Pawan STeels</h2><br>
      <h4>Pawan Steels is Shop where you can find all types of kitchen wares such as Cooker ,Mixer ,blender ,Iron, Gas Stove</h4><br>
      <p>We have all kind of kicthen appliances in second hand also.Besides that it also provide gas service reparing ,Cooker reparing,Mixer and blender repairing.In case of need we also provide service at door steps.</p>
      <br><button class="btn btn-dark btn-lg" routerLink = "/contact-us">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="fa fa-signal logo"></span>
    </div>
  </div>
</div>

<app-get-quote></app-get-quote>