<div class="container-fluid donatePage">

    <div class="showSupport">
        <h3>Show Your support</h3>
        <p> The developer of this website is developing websites for people and business who are less reachable.</p>
        <p>You can show your support and contribute to developer </p>
    </div>

    <div class="container payNowLinks">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="paper-nach">
                    <a href="javascript:void(0)" (click)="payUsingRazorPay()">
                        <img class="nav-icon lazy loaded" alt="papernach" src="assets/papernach.svg"
                            data-was-processed="true">
                        <h3 class="npl-title">Pay Here</h3>
                        <div class="description size-md">Pay using any method such as netbanking,UPI,cards,etc
                        </div>
                        <div class="paay-button">
                            <span class="razorpay-payment-button svelte-ohbfj8">
                                <div class="link-buttom" (click)="payUsingRazorPay()">
                                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="svelte-ekc7fv">
                                        <path
                                            d="M7.077 6.476l-.988 3.569 5.65-3.589-3.695 13.54 3.752.004 5.457-20L7.077 6.476z"
                                            fill="#fff" class="svelte-ekc7fv"></path>
                                        <path d="M1.455 14.308L0 20h7.202L10.149 8.42l-8.694 5.887z" fill="#fff"
                                            class="svelte-ekc7fv"></path>
                                    </svg>
                                    <div class="PaymentButton-contents svelte-ekc7fv"><span
                                            class="PaymentButton-text svelte-ekc7fv">Donate Now</span>
                                        <div class="PaymentButton-securedBy svelte-ekc7fv">Secured by Razorpay</div>
                                    </div>
                                </div>
                            </span>

                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

<app-get-quote></app-get-quote>