<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <div class="address">
          <p><span class="fas fa-map-marker-alt	"></span> &nbsp; ShopNo 73 Pawan Steels ,</p>
          <p>On BS School Road,Gujrat Housing Board</p>
          <p>Shiv Shakti Nagar , Chandkheda</p>
          <p>Ahmedabad, 382424</p>
        </div>
      
        <p class="contact"><span class="fa fa-phone"></span> +91 9974990993</p>
        <p><span class="fa fa-envelope"></span> kailashchandra2201@gmail.com</p>
       
      </div>
      
      <div class="col-sm-7 slideanim slide">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-primary pull-right" type="submit">Send</button>
          </div>
        </div>
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d458.7020702441801!2d72.58121200136017!3d23.111128252380254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDA2JzQwLjIiTiA3MsKwMzQnNTIuNiJF!5e0!3m2!1sen!2sin!4v1608444888552!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>   
        </div>
      </div>
    </div>
  </div>